{% extends "base.html.twig" %}

{% block title %} SymRecipe - Acceuil
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymRecipe</h1>
    <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. 
    Tu pourras partager tes recettes à la communauté di site, ou bien les garder en privées.</p>
    <p>Timeline</p>
    <p><strike>00:00:00 Présentation de la formation</strike></p>
    <p><strike>00:06:19 Installation et configuration</strike></p>
    <p><strike>00:16:30 Notre première page</strike></p>
    <p><strike>00:24:31 Les bases de Twig avec Symfony</strike></p>
    <p><strike>00:39:01 Notre première entité</strike></p>
    <p><strike>00:55:39 Valider les données avec l'annotation ASSERT</strike></p>
    <p><strike>01:03:52 Les fixtures</strike></p>
    <p><strike>01:18:19 CRUD - Ingrédients</strike></p>
    <p><strike>02:34:46 CRUD - Recettes</strike></p>
    <p><strike>03:38:02 Sécurité - User et hachage des mots de passe</strike></p>
    <p><strike>04:02:51 Sécurité - Firewall et formulaire de connexion</strike>/p>
    <p><strike>04:21:32 Sécurité - Formulaire d'inscription</strike></p>
    <p>04:42:17 Edition du profil et du mot de passe</p>
    <p>05:20:17 Assigner les entités à un utilisateur (ingrédient, recette)</p>
    <p>05:42:16 Sécuriser les routes avec IS_GRANTED et SECURITY</p>
    <p>05:56:23 Partager une recette</p>
    <p>06:33:13 Noter une recette</p>
    <p>07:01:01 Upload une image</p>
    <p>07:20:34 Formulaire de contact, email et reCaptcha v3</p>
    <p>08:03:46 Administration avec EasyAdmin 4</p>
    <p>08:58:10 Tester notre application</p>
    <p>10:36:21 Créer une commande</p>
    <p>10:55:22 Créer un filtre Twig</p>
    <p>11:06:03 Mise en place d'un cache pour notre application</p>
    <p>11:16:13 Webpack Encore</p>
    <p>11:29:12 Les Event Listener & Event Subscriber</p>
    <p>11:43:47 La fin de la formation</p>
    <p>Apprendre Symfony : 4:42:18/11:47:08</p>
    <hr class="my-4">
    <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'appication.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </div>
</div>
<section class="container mt-4">
  <div class="container-mt-4">
    <h1>Création de Site</h1>
    <ul>
      <li>Symrecipe</li>
      <li>Voiture=> entretien, consomation, coûts, ...</li>
      <li>Travaille => Planning, Feuille de route, ...</li>
      <li>Minecraft Création du uuid/li>
      <li></li>
    </ul>
  </div> 
</section>
{% endblock %}